$background-base: #282c34;
$background-light: #4b566e;
$highlight: #76E7B3;

.skills{
    .skills-head{
            width: 100%;
            border-bottom: 1px solid gray;
            border-top: 1px solid gray;
            margin:  25px 0 60px;
            padding: 10px;
            font-size: 1.9rem;
            text-align: center;
            background: $background-light;
    }
    .skill-list{
        margin: 25px auto 0px;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .item{
            position: relative;
            width: 105px;
            height: 105px;
            text-align: center;
            margin: 0 20px 60px;
            p{
                position: relative;
                z-index: 2;
                margin: 0;
                padding: 8px 0 16px;
            }
            .skill-image{
                position: relative;
                z-index: 2;
                height: 50%;
                overflow: hidden;
                margin-top:8px;
                // margin-bottom: 5px;
                img{
                    height:85%;

                }
                #ReactJSLogo{
                    height: 90%;

                }
                #SQLLogo{
                    height: 90%;

                }
            }
            
        }
        
        

    }
}
.skillSvg{
    position: absolute;
    top:-37px;
    left:-36px;
    width: 182px;
    transform: scaleY(-1);;
}